<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benyq.mvvm" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <provider
            android:name=".ApplicationContextProvider"
            android:authorities="${applicationId}.kt-init-provider"
            android:exported="false"/>

        <activity android:name=".ui.WebViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
