<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benyq.guochat.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application>
        <activity android:name=".ui.contracts.ApplyContractActivity" />
        <activity android:name=".ui.login.FingerLoginActivity" />
        <activity android:name=".ui.contracts.ContractIdCardActivity" />
        <activity android:name=".ui.discover.CirclePhotoViewPagerActivity" />
        <activity android:name=".ui.discover.AddCircleActivity" />

        <service android:name=".function.message.MessageService" />

        <activity android:name=".ui.contracts.ContractNickActivity" />
        <activity android:name=".ui.discover.FriendCircleActivity" />
        <activity android:name=".ui.contracts.ContractDetailActivity" />
        <activity android:name=".ui.settings.AboutAppActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.me.PersonalInfoEditActivity" />
        <activity android:name=".ui.me.AvatarActivity" />
        <activity android:name=".ui.me.PersonalInfoActivity" />
        <activity android:name=".ui.chats.video.PictureVideoActivity" />
        <activity android:name=".ui.contracts.CallingCardActivity" />
        <activity android:name=".ui.contracts.AddContractActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.discover.EditImageActivity" />
        <activity android:name=".ui.scan.BarcodeScanningActivity" />

        <activity
            android:name=".ui.chats.ChatDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.MainActivity" />

    </application>

</manifest>