<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benyq.guochat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".study.GLSurfaceCameraActivity" />
        <activity
            android:name=".ui.openeye.OpenEyeUgcDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.openeye.OpenEyeCommunityActivity" />
        <activity android:name=".ui.login.FingerLoginActivity" />
        <activity android:name=".ui.contracts.ContractIdCardActivity" />
        <activity android:name=".ui.discover.AddCircleActivity" />

        <service android:name=".function.message.MessageService" />

        <activity android:name=".ui.contracts.ContractNickActivity" />
        <activity android:name=".ui.discover.FriendCircleActivity" />
        <activity android:name=".ui.contracts.ContractDetailActivity" />
        <activity android:name=".study.TestActivity" />
        <activity android:name=".ui.settings.AboutAppActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.me.PersonalInfoEditActivity" />
        <activity android:name=".ui.me.AvatarActivity" />
        <activity android:name=".ui.me.PersonalInfoActivity" />
        <activity android:name=".ui.chats.ChatVideoActivity" />
        <activity android:name=".ui.chats.ChatImageActivity" />
        <activity android:name=".ui.chats.video.PictureVideoActivity" />
        <activity android:name=".ui.contracts.CallingCardActivity" />
        <activity android:name=".ui.contracts.AddContractActivity" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.function.MusicPlayingActivity" />
        <activity android:name=".ui.common.NotificationHandleActivity" />
        <activity
            android:name=".ui.chats.ChatDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".function.zxing.android.CaptureActivity" />

        <service android:name=".function.music.PlayMusicService" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" /> <!-- 1600 -->
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 允许绘制到华为刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 允许绘制到小米刘海屏机型的刘海区域 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait" /> <!-- 允许绘制到oppo、vivo刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.8" />

        <receiver android:name=".function.music.PlayerReceiver">
            <intent-filter>
                <action android:name="com.benyq.guochat.ACTION.PLAY_TOGGLE" />
                <action android:name="com.benyq.guochat.ACTION.PLAY_PLAY" />
                <action android:name="com.benyq.guochat.ACTION.PLAY_PAUSE" />
                <action android:name="com.benyq.guochat.ACTION.PLAY_LAST" />
                <action android:name="com.benyq.guochat.ACTION.PLAY_NEXT" />
                <action android:name="com.benyq.guochat.ACTION.STOP_SERVICE" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>