<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benyq.guochat.media">

    <application>
        <activity android:name=".TestVideoActivity"></activity>
        <activity android:name=".TestWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MusicPlayingActivity" />
        <activity android:name=".NotificationHandleActivity" />
        <service android:name=".music.PlayMusicService" />
    </application>

</manifest>